<header id="header" class="fixed-top d-flex align-items-center header-transparent" style=" height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href=""><span style="font-size: 1.2rem;">Jesus Children Mission Outreach</span></a></h1>

        
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li class="drop-down"><a href="">About Us</a>
            <ul>
              <li><a href="#">About Jesus Children Missions</a></li>
              <li><a href="#">TenderLift Junior Grade</a></li>
              <li><a href="#">Volunteer Opportunities</a></li>
              <li><a href="#">Frequently asked Questions</a></li>
            </ul>
          </li>
          <li><a href="">Support</a></li>
          <li><a href="">Contact Us</a></li>

        </ul>
      </nav>

    </div>
  </header>