<section id="faq" class="faq section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>F.A.Q</h2>
      <p>Frequently Asked Questions</p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-toggle="collapse" class="collapse" href="#faq-list-1"
            >Where are the Children From?<i
              class="bx bx-chevron-down icon-show"
            ></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
            <p>
              Our Children are from different parts of Nigeria. Most are
              primarily from rural areas of the country with limited access to
              education and proper care. Some of the children are orphans. Some
              are state welfare referrals while others are children of
              missionaries working in very rural areas in Nigeria.
            </p>
          </div>
        </li>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-toggle="collapse" class="collapse" href="#faq-list-2"
            >Is Jesus Children Missions Outreach an Orphanage or a Children
            Ministry?<i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-2" class="collapse show" data-parent=".faq-list">
            <p>
              It is a mission home with different operational units. These are,
              Children home, field work in villages, Care for widows and senior
              citizens (the elderly). We also operate schools for the children
              under our care and management ( Tender lift Schools both in Ibadan
              and Gberupane village in Kwara State). And community service.
              Jesus Children Missions Outreach is purely Faith based
              organization (FBO) that depends on charity and donations to
              operate. The home partners with the Oyo State Ministry of Women
              Affairs and is a registered organization with the Federal
              Government of Nigeria.
            </p>
          </div>
        </li>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-toggle="collapse" class="collapse" href="#faq-list-3"
            >What are the age ranges of your Children?<i
              class="bx bx-chevron-down icon-show"
            ></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-3" class="collapse show" data-parent=".faq-list">
            <p>
              We typically accept children from 1 day old to 15years. Children
              outside of these age bracket will be considered on a case by case
              basis. Because we have been operational since 2001, most of the
              children we started with are now grown up. The age range of the
              children and young adults under our care and management currently
              ranges from 2months old to over twenty years. All young adults
              older than 18 years who have yet to gain admissions to higher
              institutions of learning and/or vocational schools are trained as
              care givers until they enroll into universities or other higher
              institutions with full sponsorship by the home.
            </p>
          </div>
        </li>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-toggle="collapse" class="collapse" href="#faq-list-4"
            >Are you affiliated to a Church or denomination?<i
              class="bx bx-chevron-down icon-show"
            ></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-4" class="collapse show" data-parent=".faq-list">
            <p>
              Jesus Children Missions Outreach is not affiliated to any Church
              or denomination but is a member of the Association of Orphanages
              and Home Operators in Nigeria (ASOHON), Association of Orphans and
              vulnerable children in Nigeria (AONN), Child Protection Network
              (CPN) and NACRON. We collaborate with other care providers
              organizations like Jesus Kids, Tabitha Home, Covenant Home, SIS
              Home LIWON, His Heritage Home, Children of Promise Home (CHIPROM),
              Kings Kids, Nazareth Home, and Kent Home etc
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
