<section id="details" class="details">
    <div class="container">

      <div class="row content">
        
        <div class="col-md-12 pt-4" data-aos="fade-up">
          <h3>General Needs
          </h3>
          <p class="font-italic">
            You can meet these needs directly by purchasing the items and sending it to us or you can make donations towards meeting these needs. If you have something that you wish to donate but you are not sure if we need it, please contact us. We will be more than happy to tal to you.
          </p>
          <ul>
            <li><i class="icofont-check"></i> Buses for transportation</li>
            <li><i class="icofont-check"></i> Food Items(All kinds)</li>
            <li><i class="icofont-check"></i> Cash Donations</li>
          </ul>
          <p>
            Here you will find a list of some of our most urgent needs.  
          </p>
         
          <a routerLink="/support" class="btn-get-started">Read More</a>
          
        </div>
        <!-- <div class="col-md-4" data-aos="fade-right">
          <img src="" class="img-fluid" alt="">
        </div> -->
      </div>

      <div class="row content">
        <!-- <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="" class="img-fluid" alt="">
        </div> -->
        <div class="col-md-12  order-2 order-md-1" data-aos="fade-up">
          <h3>We need your support</h3>
          <p class="font-italic">
            Jesus Children Missions relies on the support of our partners to give the Children under our care sound education, vocational skills, shelter, food, clothing etc. The generous donations we receive from people on behalf of the children is our main source of funding.
          </p>
          <p>
            We hope that you too will be touched to reach out to us.
          </p>
          <div class="">
            <a routerLink="/contact" class="btn-get-started">Contact us</a>
          </div>
        </div>
        
      </div>


    </div>
  </section>