<section class="inner-page">
    <div class="container">
        <div>
            <div class="section-title">
                <h2>
                   Volunteer Opportunities
                </h2>
                <p>
                  How can I volunteer?
                </p>
            </div>
          <p>As teacher in the elementary or the Junior high school, Home lesson teacher, Music Instructor, Dance Instructor, Computer Instructor, vocational training programme, take care of children, cleaning/washing exercise, cooking, Teacher of the Word, Prayer Coordinator/Counsellor, Social Worker etc</p>

            <!-- <div class="">
            <a routerLink="" class="btn-get-started">Want to know more? Check out our frequently asked question</a>
          </div> -->
          
        </div>
    
    </div>
  </section>