<section id="testimonials" class="testimonials">
    <div class="container">

      <div class="owl-carousel testimonials-carousel" data-aos="zoom-in">

        <div class="testimonial-item">
          <img src="https://smicks11.github.io/supremechords/assets/img/james.jpg" class="testimonial-img" alt="">
          <h3>James Peter</h3>
          <h4>Software Engineer</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            The supreme chords is the best when it comes to delivering quality musical training. 
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

        <div class="testimonial-item">
          <img src="" class="testimonial-img" alt="">
          <h3>Doyin Daramola</h3>
          <h4>Student</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Supreme chords really helped my musical career by bagging a diploma with them on music performance. Such a great academy!
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

        <div class="testimonial-item">
          <img src="" class="testimonial-img" alt="">
          <h3>Jena Karlis</h3>
          <h4>Store Owner</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            This is a great academy for music training on how to play musical instruments. I can now play the piano!!
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>

    </div>
  </section>