<div class="container">
    <div style="margin-top: 2rem;">
        <div class="section-title">
            <!-- <h2>
                FIELD PROJECTS/CARE FOR MISSIONARIES 
            </h2> -->
            <h2>
                FIELD PROJECTS/CARE FOR MISSIONARIES 
            </h2>
        </div>
        <div>
          <p>The Lockdown was a major restriction because we were unable to meet up with the year 2020 plans. But before then, the Field Mission team, have toured round. God bless all the sponsors and partners in this outreaches.
          </p>
          <p>Summation</p>
          <ul style="font-size: 19px;">
            <li>
                <i class="icofont-check"></i>
              2020 zero tolerance to FGM, GBV and Early Marriage was the first we had in BADEKU village, Ona Ara Local Government, Oyo State. At the same village, on another trip, JCMO initiated the move for Child Protection Network, Oyo State, to have a follow up on the same campaign.

            </li>
            <li><i class="icofont-check"></i>Also, we had same in Ofe-Ogun, Iwa Jowa Local government area of Oyo State.</li>
            <li><i class="icofont-check"></i>Provision of bedding, mobile phone, foodstuff to the missionaries at Ofe-Ogun.</li>
            <li><i class="icofont-check"></i>Provision of financial capital to set up business for a Missionary’s wife (Confectionary).</li>
            <li><i class="icofont-check"></i>Provision of well water in Ofe- Ogun in conjunction with Christian Growth Foundation.</li>
            <li><i class="icofont-check"></i>Aside provision of stationaries to all our schools in the field, incentives were given to the best pupils, in recognition of academic and exceptional skills.</li>
            <li><i class="icofont-check"></i>At Gberupane, Kwara State and part of Saki West, a sensitization campaign against Child Marriage, FGM and the Covid19 Pandemic was organized</li>
            <li><i class="icofont-check"></i>Another success was the drilling of borehole which has been a major issue over decades in the said village. You will give me the privilege of appreciating Mr. Abraham Kali who is part of the family. He took up this challenge from the inception to the end and tag it birthday present which was actually the request of Rosemary for her 2020 birthday. Relief materials was also sent to the mission field.</li>
            <li><i class="icofont-check"></i>Welfare packages for Missionaries who are within JCMO coverage fields, ranging from their personal needs and community needs. Along this, vocations were created/empowerment skills to boast their finance.</li>
            
          </ul>
        </div>
       <!-- <div class="">
        <a routerLink="" class="btn-get-started">You too can be a part of what God is doing at JCM. Find out here</a>
      </div> -->
      </div>
</div>