<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
        data-aos="fade-right"
      >
        <a
          href="https://www.youtube.com/watch?v=F7si1ETtj3k"
          class="venobox play-btn mb-4"
          data-vbtype="video"
          data-autoplay="true"
        ></a>
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
        data-aos="fade-left"
      >
        <h3>Who we are and What we do</h3>
        <p>
          Jesus Children Missions is a Christian Children Ministry committied to
          raising a Godly generation of young men and women. By exposing them to
          God's word, the Bible; we give them a spiritual foundation to be the
          Light of the World and the salt of the earth ..Mathew 5: 13 -16
        </p>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="bx bx-church"></i></div>
          <h4 class="title"><a href="">Children Ministry</a></h4>
          <p class="description">
            Jesus Children Missions is a Christian Children Ministry committied
            to raising a Godly generation of young men and women. By exposing
            them to God's word, the Bible; we give them a spiritual foundation
            to be the Light of the World and the salt of the earth ..Mathew 5:
            13 -16
          </p>
        </div>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="bx bx-book-reader"></i></div>
          <h4 class="title">
            <a href=""
              >Education</a
            >
          </h4>
          <p class="description">
            We have Children in elementary schools through university. We
            believe that knowledge is liberating and empowering
          </p>
        </div>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="bx bx-happy-heart-eyes"></i></div>
          <h4 class="title"><a href="">Outreach Programs</a></h4>
          <p class="description">
            Therefore since inception, we have never wavered in our committment
            to providing the best environment for the Children to succeed
            academically.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
