  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out" class="hero-content">
            <h1>Jesus children mission Outreach</h1>
            <h2>Train Up a Child in the way he should go ... Proverbs 12:6</h2> 
            <!-- <div class="text-center text-lg-left">
              <a routerLink="/about" class="btn-get-started scrollto">Who we are</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>