section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f5f5ff;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #1acc8d;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #010483;
  }

.team {
    background: #fff;
  }

  #mainCard{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .team .member, .team .content {
    text-align: center;
    /* margin-bottom: 80px; */
    /* position: relative; */
    position: absolute;
    backface-visibility: hidden;
  }
  .team .content{
    width: 240px;
    height: 320px;
    margin: 0 auto !important;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg);
    overflow-y: scroll;
  }

  .team .content p{
    /* font-style: italic; */
    display: block;
    font-size: 14px;
    color: #01036f;
    padding: 0.075rem;
  }
  /* #mainCard:hover {
    transform: rotateY(180deg);
  }
   */
  .team .member .pic {
    border-radius: 4px;
    overflow: hidden;
  }
  
  .team .member img {
    transition: all ease-in-out 0.4s;
  }
  
  .team .member:hover img {
    transform: scale(1.1);
  }
  
  .team .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #01036f;
    position: relative;
    padding-bottom: 10px;
  }
  
  .team .member h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #0d12fc;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #01036f;
  }
  
  .team .member .social {
    margin-top: 10px;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #01036f;
  }
  
  .team .member .social a:hover {
    color: #1acc8d;
  }
  
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }

  .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #010483;
    margin-top: 10px;
  }
  
   .btn-get-started:hover {
    background: #010483;
  }