<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Our Great Team</p>
      </div>

      <div class="row" data-aos="fade-left">

        <div *ngFor="let teamMember of teamMembers;" class="col-lg-3 col-md-6" id="mainCard">
            <div *ngIf="!teamMember.isFlipped"  class="member" data-aos="zoom-in" data-aos-delay="100" >
              <div class="pic"><img src="../../../../assets/images/{{teamMember.imageUrl}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{teamMember.name}}</h4>
                <span>{{teamMember.role}}</span>
                <div class="social">
                  <a href="{{teamMember.facebookIcon}}"><i class="icofont-twitter"></i></a>
                  <a href="{{teamMember.twitterIcon}}"><i class="icofont-facebook"></i></a>
                  <a href="{{teamMember.linkedInIcon}}"><i class="icofont-instagram"></i></a>
                  <a href="{{teamMember.instagramIcon}}"><i class="icofont-linkedin"></i></a>
                </div>
                  <div class="text-center text-lg-center switch">
                    <button (click)= "flipCard(teamMember)" class="btn-get-started">Learn more</button>
                  </div>
              </div>
            </div>
            <div *ngIf="teamMember.isFlipped"  class="content" data-aos="zoom-in" data-aos-delay="50">
              <p>This is jeff king. He is the founder and director of this great institute and he has shown great leadership attributes towards this citadel of learning.</p>
              <p>This is jeff king. He is the founder and director of this great institute and he has shown great leadership attributes towards this citadel of learning</p>
              <p>This is jeff king. He is the founder and director of this great institute and he has shown great leadership attributes towards this citadel of learning</p>
              <p>This is jeff king. He is the founder and director of this great institute and he has shown great leadership attributes towards this citadel of learning</p>
              <p>This is jeff king. He is the founder and director of this great institute and he has shown great leadership attributes towards this citadel of learning</p>
              <div class="text-center text-lg-center switch" style="position: sticky; left: 0; right: 0; bottom: 0;">
                <button (click)="flipCard(teamMember)" class="btn-get-started">Go back</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>