<section class="inner-page">
  <div class="container">
    <div>
      <div class="section-title">
        <!-- <h2>How it all started</h2> -->
        <h2>About us</h2>
        <!-- <div id="horizontal_line"></div> -->
        
      </div>
      <p>
        Jesus Children Missions Outreach was founded by Mrs. Rosemary Odigbo in 2001 in the city of Ibadan, Oyo State, Nigeria. Prior to starting the ministry, Mrs. Odigbo worked as a missionary for about a decade in Kwara State and other parts of Nigeria.<br><br>

In many rural communities in Nigeria, poverty and less than Ideal socio-economic situations put the lives of many children at risk. Inadequate educational facilities, lack of proper nutrition and medical care centres, in general make many parts of rural Nigeria very high risk places to raise children. In view of this, Jesus Children Missions' focus is on less privileged children particularly from rural areas. Some of the children from these areas, especially the orphans who are generally socially and econonmically vulnerable, often lack proper care,physical security from abuse and molestation, education, adequate nutrition and proper clothing and medical care among other things. Girls raised in these environments are often forced into early marriages which greatly diminish their potential in life. Want to know more? You can check out our frequently asked question<br>


      </p>
      <div class="">
        <a routerLink="/faq" class="btn-get-started"
          >Frequently asked Questions</a
        >
      </div>
    </div>

    <div style="margin-top: 2rem">
      <div class="section-title">
        <!-- <h2>Our Vision</h2> -->
        <h2>Our vision</h2>
      </div>
      <p>Our expectation in Jesus Children Missions Outreach is to put in place measures to improve the visibility of the children under our umbrella by providing homes, shelter facilities (Mission House) and schools for over 1000 identified children, in the next ten years and to empower and assist widows/widowers and sponsor missionaries in various ways as the need may arise, which include medical helps and to work closely with some people groups in established Mission bases.</p>
      <ul>
        <li>
          <i class="icofont-hand-right"></i>
          Our goal at Jesus Children Missions Outreach is to provide shelter
          facilities (Mission House) and schools for over 1000 identified
          children, in the next ten years.
        </li>
        <li>
          <i class="icofont-hand-right"></i>
          Produce future leaders equipped with innovative sound teaching, wisdom
          of God,integrity, sincerity, hard work, intelligence and godliness
        </li>
        <li>
          <i class="icofont-hand-right"></i>
          The broad mission is that these children would become shining lights that would positively inflame their communities and the world at large
        </li>
        <li>
          <i class="icofont-hand-right"></i>
          Train them to live a safe and productive life and play a meaningful role in the nation by the grace of God. Activities engaged in, are important step towards achieving brilliant future for the children in Nigeria and other countries, through the shelters, home base care with partners, and their families.

        </li>
        <li>
          <i class="icofont-hand-right"></i>
          Help targeted children discover their God given potentials, and give them opportunity to excel in life.</li>
        <li>The broad and long term vision is to produce a society that is healthy, safe and free from all forms of unhealthy vices.</li>
      </ul>
      <p>You too can be a part of what God is doing at JCM. </p>
      <div class="">
        <a routerLink="/volunteer" class="btn-get-started"
          >Find out here</a
        >
      </div>
    </div>
    <!-- <div style="margin-top: 2rem">
      <div class="section-title">
        <p>THE CHILDREN HOME/ORPHANGE</p>
      </div>
      <p>This vision is still standing since 2001, with the help of notable stakeholders, individuals, organizations staffs, volunteers at different period. It is on this note, we recognize the impact made by these Angels of Hope and heroes who have stood for humanity and projecting this dreams passionately through JCMO.</p>
      <p>The home started with 11 children between the ages of 4-10, among who were children of missionaries, they were all from socially high risk rural communities in Nigeria. 
        With very little or no support, sight unseen, path unknown. Our goal was and still is to give them a positive chance to maximize their potentials in life, by providing sustainable access to food, shelter, health, education and Godly living. All to the best interest of a child that deserves healthy growth and soundness in life.
        </p>
        <p>Creation of out of school programmes, allowed the children to safely explore independence, peer relationships and leadership qualities and to form a long-lasting relationship with the wider world. Our children showed exceptional leadership skills in their schools, being made prefects. The school administration attested to this at available opportunities via school representation in debates, dance, poetry and even in essay competitions etc.</p>
        <p>JCMO is a big family via her children’s full participation in decision makings with a keen sense of responsibility. we have weekly room appraisal to monitor the progress chart of the children which is assessed by each room governor.
        </p>
        <p>The Home followed a Child Protection Policy to ensure that all Caregivers and visitors affirm their commitment to protecting the rights of every child in the home as always and our guests can testify to this. The appreciation note is given to show gratitude for coming and to acknowledge every visit and donations made.
          Our children are encouraged to make friends, visit friends and the friends’ in turn comes by to the Home to visit them. Every child is attached to a Caregiver, who monitors the child, attends to the child and provide big brother or big sister needs.</p>
        <p>The care givers are exposed to training programmes and are made to adhere to the code of conducts set through the Child right Protection Policies and the Organization. No year runs out without training programs for our Caregivers. Notable among these is the two days training, organized by Civil Defense (South West Headquarters;) on SEXUAL AND GENDER BASE VIOLENCE, headed by Officer Afe.</p>
        <p>Targets at first intake are children between a days old -14 years from various settings and with different story backgrounds. </p>
      <div class="">
        <a routerLink="/contact" class="btn-get-started"
          >You too can be a part of what God is doing at JCM. Find out here</a
        >
      </div>
    </div> -->
    <div style="margin-top: 2rem">
      <div class="section-title">
        <!-- <h2>Other projects</h2> -->
        <h2>Other projects</h2>
      </div>
      <ul>
        <li>
          <i class="icofont-hand-right"></i>
          Reaching out to communities within the city and villages with educational facilities and medical outreaches</li>
        <li>
          <i class="icofont-hand-right"></i>
          Reach our Mission bases with education, medicals and the gospel.

        </li>
        <li>
          <i class="icofont-hand-right"></i>
          Partner with missionaries and give necessary supports and assistance.</li>
        <li>Make missionary work stress less by assisting them in various ways which include training their children.</li>

      </ul>
      <p>Another phase of the project is to reach the widows/widowers and their children, reach out to communities within the city, the elderly, and missionaries and establish Mission work in selected geographical locations within and outside Nigeria. Want to support? </p>
      <!-- <p>Since 2001, JCMO, has integrated in phases, implementing projects in several rural and urban communities in Nigeria. The year 2020 was not an exception in spite of the challenges in the country. Some villages in Ona Ara, Iwajowa, Ibarapa, Ibadan North Local government and some parts of Kwara State were visited and projects carried out, included provision of Borehole, Well water, sensitization against Covid 19. provision of Sanitizers, liquid soaps, tap buckets, nose masks, clothing, educational materials/tools, food items, mobile phones for missionaries, children and in the communities, Household empowerment schemes and campaign against Female Genital Mutilation (FGM), Early Marriage and Gender Based Violence (GBV). </p> -->
      <div class="">
        <a routerLink="/support" class="btn-get-started"
          >Check out our support page</a
        >
      </div>
    </div>
  </div>
</section>
