<section class="inner-page">
    <div class="container">
        <div>
            <div class="section-title">
                <!-- <h2>
                  SCHOOL PROJECTS
                </h2> -->
                <h2>
                  THE SCHOOL

                </h2>
            </div>
          <p>Tenderlift Care Missions Schools which comprises of Nursery, Primary and Junior High Schools, in both urban and rural settings, suffered a setback just like other schools were affected by the lockdown. Though our major challenges still remain Staff/Teachers and the registration of the schools with the appropriate agencies in the State. Our motto is Sound Teaching and Wisdom. The challenges of funds for adequate running is still a limitation.</p>
          <p>The population of the schools, in 2020 was 159, of which 70% were from the shelters. (righteousness, Peace and Joy Homes) 20% are orphaned and vulnerable in the community on scholarship while others are fee payers whose funds boost the financial obligations of the schools a little. Our major source of funding remain donations/charity.</p>
          <!-- <div class="">
            <a routerLink="" class="btn-get-started">Want to know more? Check out our frequently asked question</a>
          </div> -->
        </div>
      
    </div>
  </section>