<div>
    <app-header></app-header>
<app-carousel></app-carousel>
<app-about-section></app-about-section>
<app-counts-section></app-counts-section>
<app-details-section></app-details-section>
<app-gallery-section></app-gallery-section>
<!-- <app-testimonial-section></app-testimonial-section> -->
<app-team-section></app-team-section>
<app-faq-section></app-faq-section>
<app-contact-section></app-contact-section>
<app-footer></app-footer>
<app-back-to-top></app-back-to-top>
<!-- <app-pre-loader></app-pre-loader> -->
</div>