/* You can add global styles to this file, and also import other style files */
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}
a {
	color: #1acc8d;
	&:hover {
		color: #34e5a6 !important;
		text-decoration: none;
	}
}
h1 {
	font-family: "Montserrat", sans-serif;
}
h2 {
	font-family: "Montserrat", sans-serif;
}
h3 {
	font-family: "Montserrat", sans-serif;
}
h4 {
	font-family: "Montserrat", sans-serif;
}
h5 {
	font-family: "Montserrat", sans-serif;
}
h6 {
	font-family: "Montserrat", sans-serif;
}

