<section class="inner-page">
    <div class="container">
        <div>
            <div class="section-title">
                <h2>
                   We need your support
                </h2>
                <p>
                   We need your support
                </p>
            </div>
          <p>The major challenge is acquiring permanent buildings for shelters/home, schools and office for the Project.</p>
          <!-- <div class="">
            <a routerLink="" class="btn-get-started">Want to know more? Check out our frequently asked question</a>
          </div> -->
        </div>
        
      <div style="margin-top: 2rem;">
        <div class="section-title">
            <h2>
               Constant Challenges: 

            </h2>
            <p>
               Constant Challenges: 

            </p>
        </div>
       <ul>
           <li>Scholarship (ranging from primary to Tertiary)</li>
           <li>Coast buses: this poise as the major overriding problem. The need cannot be over emphasized</li>
           <li>School fees.  (Primary - Tertiary Institutions)</li>
           <li>Educational/outdoor games materials, Laptops, School desks and chairs</li>
           <li>School shoes/sucks/belts</li>
           <li>Sanitizers/nose masks</li>
           <li>Registration of the school with the Ministry of Education.          </li>
           <li>Plans to alleviate the school bungalow to upstairs.</li>
           <li>Volunteer staff (Administrative, teaching, Music lessons, Computer Class, Art and Craft works, Vocational trainings)
          </li>
           <li>Televisions/Electrical gadgets
          </li>
           <li>Chairs, tables and home appliances for three shelters 
          </li>
           <li>Cars for day to day movement for Coordinators/Staff</li>
           <li>Food stuff/Beverages</li>
           <li>Toothpaste/brush</li>
           <li>Toiletries/Sanitary Towel
          </li>
           <li>Inverter/Generator</li>
           <li>Ironed bunk beds/beddings</li>
           <li>Slippers</li>
           <li>Carpet/Tiles/Rug/Grass carpet for the school playground</li>
           <li>Financial Support
          </li>
           <li>Staff salary</li>
           <li>Prayers</li>
           <li>Motor cycle for the missionaries</li>
           <li>Residential house rent</li>
       </ul>
       <!-- <div class="">
        <a routerLink="" class="btn-get-started">You too can be a part of what God is doing at JCM. Find out here</a>
      </div> -->
      </div>
      <div>
        <p>Acc. Names:  &nbsp; JESUS CHILDREN MISSIONS OUTREACH</p>
        <p>Acc. No & Bank:  &nbsp;  1010541138  &nbsp;  UBA BANK, BODIJA BRANCH, IBADAN. </p>
        <p>Acc. No & Bank &nbsp; 0029581422  &nbsp;  GUARANTY TRUST BANK, IBADAN
        </p>
      </div>
     
     
    </div>
  </section>